---
layout: default
---

<!-- Main -->
<div id="main">
  <section>
    {% for post in site.posts limit:10 %}
		<header class="major">
      <a href="{{ post.url }}">
        <h1>{{ post.title }}</h1>
      </a>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
        {% if post.author %} 
        • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta
        }}{% endif %}
        </p>
    </header>

    <section>
      {{ post.excerpt }} <a href="{{post.url}}">Read More...</a> 
    </section>

		<hr/>

    {% endfor %}

		<section class="button-container">
      {% if paginator.next_page_path %}
        <a href="/archives{{paginator.next_page_path}}" class="button"><< Older Posts</a> 
      {% endif %}
		</section>
  </section>