.articles-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    .col-4 {
        padding: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        @media screen and (break(small)) {
            width: 50%;
        }
        @media screen and (break(medium)) {
            width: 25%;
        }
    }
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;

        &.label-default {
            background-color: #777;
        }
    }
}