.badge {
    background-color: black; 
    border-radius: 50%;
    width: 45px; 
    height: 45px;
    position: fixed;
    top: 60px;
    right: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #F7F7F5; 
}