$breakpoints: (
    extraSmall : 30em,
    small      : 48em,
    medium     : 60em,
    large      : 80em,
    extraLarge : 100em
  );

$font-size-small: 10px; 

  @function break($key) {
    @if map-has-key($breakpoints, $key) {
      @return 'min-width: #{ map-get( $breakpoints, $key ) }';
    }
  }