<!DOCTYPE html>
<html>
  	<head>
			{% if page.title %}
				<title>{{ page.title }} - {{ site.name }}</title>
			{% else %} 
				<title>{{ site.name }} - {{ site.description }}</title>
			{% endif %}
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="Michele Nasti's personal blog'" />
  		<meta name="keywords" content="michele nasti" />
  		<!--<noscript>-->
  			<link rel="stylesheet" href="{{site.baseurl}}/css/skel.css" />
  			<link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
  			<link rel="stylesheet" href="{{site.baseurl}}/css/style-xlarge.css" />
  		<!--</noscript>-->
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body id="top">

		{% include header.html %}

{{ content }}

        <!-- Footer -->
        {% include footer.html %}
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="{{site.baseurl}}/js/jquery.min.js"></script>
  		<script src="{{site.baseurl}}/js/jquery.poptrox.min.js"></script>
  		<script src="{{site.baseurl}}/js/skel.min.js"></script>
  		<script src="{{site.baseurl}}/js/init.js"></script>
			{% include analytics.html %}
	</body>
</html>
